p{
	border-top: 2pt solid #80ffaa;
	border-right: 2pt solid black;
	border-left: 2pt solid black;
	border-bottom:8pt solid aqua;
	width: 950px;
	margin: 0 auto;
	background-color: #000;
	font-family:fantasy;
	color:aqua;
	text-align: center;
	font-size:20px;
	padding:5px;
}

span{
	font-size:20px;
}

#sectionWrap{
	width: 960px;
	margin: 0 auto;
	border:2pt solid aqua;
	border-right:2pt solid black;
	height: 400px;
	font-family: fantasy
}

#div1{
	border: 2pt solid aqua;
	border-bottom:2pt solid #80ffaa;
	width: 960px;
	height: 100px;
	margin: 0 auto;
	/*background-color: #33d6ff;*/
	color:black;
	text-align: center;
	font-family:fantasy;
	font-size:50px;
	padding-top: 20px;
	background: aqua; 
    background: -webkit-linear-gradient(aqua, #80ffaa); 
    background: -o-linear-gradient(aqua, #80ffaa); 
    background: -moz-linear-gradient(aqua, #80ffaa); 
    background: linear-gradient(aqua, #80ffaa);
}

#sideBar{
	border:2pt solid aqua;
	background-color: aqua;
	width:30%;
	height:400px;
	margin:0 auto;
	float:left;
	text-align: center;
}

#mainContent{
	border-top:2pt solid #000;
	border-left:2pt solid #000;
	border-bottom:2pt solid black;
	border-right: 2pt solid black;
	background-color: black;
	width:68.125%;
	height:390px;
	margin:0 auto;
	float: left;
	text-align: center;
	color:aqua;
	padding:5px;
	font-size: 20px;

}


a:link{ 
	color: black;
	text-decoration: none;

}

a:visited{
	color: black;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: underline;
}

a:active{
	color: black;
	text-decoration: underline;
}

img{
	height: 200px;
	width: 250px;
}